grafana/grafana_data/grafana.db
influxdb/influxdb_data/data/_internal/_series/00/0000
influxdb/influxdb_data/data/_internal/_series/01/0000
influxdb/influxdb_data/data/_internal/_series/02/0000
influxdb/influxdb_data/data/_internal/_series/03/0000
influxdb/influxdb_data/data/_internal/_series/04/0000
influxdb/influxdb_data/data/_internal/_series/05/0000
influxdb/influxdb_data/data/_internal/_series/06/0000
influxdb/influxdb_data/data/_internal/_series/07/0000
influxdb/influxdb_data/data/_internal/monitor/1/fields.idx
influxdb/influxdb_data/data/balena/_series/00/0000
influxdb/influxdb_data/data/balena/_series/01/0000
influxdb/influxdb_data/data/balena/_series/02/0000
influxdb/influxdb_data/data/balena/_series/03/0000
influxdb/influxdb_data/data/balena/_series/04/0000
influxdb/influxdb_data/data/balena/_series/05/0000
influxdb/influxdb_data/data/balena/_series/06/0000
influxdb/influxdb_data/data/balena/_series/07/0000
influxdb/influxdb_data/data/balena/autogen/2/fields.idx
influxdb/influxdb_data/meta/meta.db
influxdb/influxdb_data/wal/_internal/monitor/1/_00001.wal
influxdb/influxdb_data/wal/balena/autogen/2/_00001.wal
